header {
    color: rgb(0,0,0,0.7);
    padding: 20px;
}

.profile-pic {
    border-radius: 10%;
    border: none;
}

body {
    background-color: lightsalmon;
}

.my-card {
    width: 50%;
    margin: auto;
    border-radius: 10%;
    border: none;
}

.logo-img{
    width: 50px;
    padding: 5px;
}

.logo-img:hover {
    transform: scale(1.3);
    transition: 0.1s;
}

.logos {
    text-align: center;
}